
.nav-link{
    font-size: 16px;
    margin: 3px;
    font-weight: 500;
    padding-left: 10px;
}
.navbar-nav{
    margin-right: 150px;
}
.navbar-brand{
    font-size: 30px;
}

.nav-item{
    margin-right: 10px;

}
// .navbar{
//     background-color: transparent !important;
  
// }