.bottom .bottom1{
    position: relative;
}
.col-lg-3 button{
    position: absolute;
    top: 0;
    right: 0;
}
.col-lg-3 span i{
    font-size: 50px;
    color: brown;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}