.bottom {
    position: relative;
}
.col-lg-3 button{
    position: absolute;
    top: 0;
    right: 0;
}
.col-lg-3 span i{
    font-size: 50px;
    color: brown;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%,-50%);
}

@media only screen and (max-width: 410px)  {
    .col-lg-3 span i{
        top: 100%;
        left: 50%;
    }

}