

<!--     
        <span>
            <i class="fa-solid fa-hat-wizard"></i>
           </span>
           
            <button>
                <i class="fa-solid fa-xmark"></i>
            </button>
     -->
 
  

     <mat-nav-list *ngIf="toDisplay">
      <div class="row bottom">
        <div class="col-lg-9 col-md-6 col-sm-6">
             <pre>
  <b> The Sorting Hat’s Song</b>

Oh you may not think me pretty,
But don't judge on what you see,
I'll eat myself if you can find
A smarter hat than me.
You can keep your bowlers black,
Your top hats sleek and tall,
For I'm the Hogwarts Sorting Hat
And I can cap them all.
There's nothing hidden in your head
The Sorting Hat can't see,
So try me on and I will tell you
Where you ought to be.
You might belong in Gryffindor,
Where dwell the brave at heart,
Their daring, nerve, and chivalry
Set Gryffindors apart;
       </pre>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 bottom1" >
            <span>
                <i class="fa-solid fa-hat-wizard"></i>
               </span>
               
                <button mat-button (click)="closePage()">
                    <i class="fa-solid fa-xmark"></i>
                </button>
        </div>
      </div>
      </mat-nav-list>
  
