<div class="about">

  <div class="d-flex justify-content-center align-items-center flex-column text-white center1">
    <h1>ABOUT</h1>
    <p>Hogwarts School of Witchcraft and Wizardry, often shortened to Hogwarts, was a Scottish wizarding school located in the Scottish Highlands.</p>
  </div>
</div>




<div class="container history">
  
  <div class="row">
    <div class="col-lg-7">
      <!-- <img src="../../assets/images/christmas-movies-07.webp" alt="" class="w-100 h-75"> -->
      <div class="video">
       
    <div class="request-loader">
      <button mat-button (click)="openDialog()"><i class="fa-sharp fa-solid fa-play"></i></button>
    </div>

        
      </div>

    </div>
    <div class="col-lg-5">
      <h1 class="text-center fs-1">Info about Castle</h1>
      <hr>
      <p>
        There are many magnificient things inside and outside of the castle.
      </p>
      <ul>
        <li>
          The Two Guardian Boar Statues
        </li>
        <li>
          One-Eyed Witch Statue
        </li>
        <li>
          Mirror of Erised
        </li>
        <li>
          Griffin Entry to Office
        </li>
        <li>Dumbledore’s Pensieve</li>
      </ul>
    </div>
  </div>
</div>

<div>
  <h1 class="text-center fs-1">STAFF</h1>
  <hr>
</div>
<div class="container-fluid staff" >
  
  
    
  <owl-carousel-o [options]="customOptions" >
    <ng-template carouselSlide class="carousel">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Professor Albus Dumbledore</mat-card-title>
            <mat-card-subtitle>Headmaster</mat-card-subtitle>
            <!-- <img mat-card-lg-image src="../../assets/images/dumbledore.jpg" > -->
           
              <img mat-card-lg-image src="assets/images/dumbledore.jpg" alt="">
           
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          Established around the 10th century, Hogwarts was considered to be one of the finest magical institutions in the wizarding world, though other notable schools included Beauxbatons Academy of Magic in France, the Durmstrang Institute implied to be in northern Europe, and Ilvermorny School of Witchcraft and Wizardry in the United States.
        </mat-card-content>
      </mat-card>
    </ng-template>  
    <ng-template carouselSlide>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Professor Minerva McGonagall</mat-card-title>
            <mat-card-subtitle> Headmistress of Hogwarts.</mat-card-subtitle>
            <img mat-card-lg-image src="assets/images/mcgonagal.jpg" >
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          Established around the 10th century, Hogwarts was considered to be one of the finest magical institutions in the wizarding world, though other notable schools included Beauxbatons Academy of Magic in France, the Durmstrang Institute implied to be in northern Europe, and Ilvermorny School of Witchcraft and Wizardry in the United States.
        </mat-card-content>
      </mat-card>
    </ng-template>  
    <ng-template carouselSlide>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Professor Severus Snape</mat-card-title>
            <mat-card-subtitle>Potions Master</mat-card-subtitle>
            <img mat-card-lg-image src="assets/images/snape.jpg" >
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          Established around the 10th century, Hogwarts was considered to be one of the finest magical institutions in the wizarding world, though other notable schools included Beauxbatons Academy of Magic in France, the Durmstrang Institute implied to be in northern Europe, and Ilvermorny School of Witchcraft and Wizardry in the United States.
        </mat-card-content>
      </mat-card>
    </ng-template>  
    <ng-template carouselSlide>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Professor Filius Flitwick</mat-card-title>
            <mat-card-subtitle> Charms Master</mat-card-subtitle>
            <img mat-card-lg-image src="assets/images/flitwick.webp" >
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          Established around the 10th century, Hogwarts was considered to be one of the finest magical institutions in the wizarding world, though other notable schools included Beauxbatons Academy of Magic in France, the Durmstrang Institute implied to be in northern Europe, and Ilvermorny School of Witchcraft and Wizardry in the United States.
        </mat-card-content>
      </mat-card>
    </ng-template>  
    <ng-template carouselSlide>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Professor Pomona Sprout</mat-card-title>
            <mat-card-subtitle>Head of the Herbology department</mat-card-subtitle>
            <img mat-card-lg-image src="assets/images/sprout.webp" >
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          Established around the 10th century, Hogwarts was considered to be one of the finest magical institutions in the wizarding world, though other notable schools included Beauxbatons Academy of Magic in France, the Durmstrang Institute implied to be in northern Europe, and Ilvermorny School of Witchcraft and Wizardry in the United States.
        </mat-card-content>
      </mat-card>
    </ng-template>  
    <ng-template carouselSlide>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Professor Sybill Patricia Trelawney</mat-card-title>
            <mat-card-subtitle> Professor of Divination</mat-card-subtitle>
            <img mat-card-lg-image src="assets/images/trelawney.jpg" >
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          Established around the 10th century, Hogwarts was considered to be one of the finest magical institutions in the wizarding world, though other notable schools included Beauxbatons Academy of Magic in France, the Durmstrang Institute implied to be in northern Europe, and Ilvermorny School of Witchcraft and Wizardry in the United States.
        </mat-card-content>
      </mat-card>
    </ng-template>  
  </owl-carousel-o>
  
  

</div>


<div class="container-fluid faq">
  <h1 class="text-center  fs-1 mb-5"> Frequently Asked Questions</h1>

  <div>
    <mat-accordion>
      <mat-expansion-panel class="mb-3">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Where do I get a wand/pet/telescope?
          </mat-panel-title>
          <!-- <mat-panel-description>
            This is a summary of the content
          </mat-panel-description> -->
        </mat-expansion-panel-header>
        <p>Unfortunately, we cannot recommend a place to buy a real wand. As much as we would like it, the spells, potions, and other bits of magic you’ll learn on Hogwarts is Here won’t work in our world. The magic comes from connecting with other Harry Potter fans and immersing yourself in the world. If you’d like to learn about your wand, you can check out Pottermore, or you can do a little research and find out which wand is right for you. You also won’t be able to buy a wand, a pet or other items on the site. If you’d like to buy a wand to practice with, there are several good wandmakers online, or you can use a stick, a chopstick, a drumstick, that sort of thing.

          There is no on-site method for buying equipment. The only thing you may need beside the lessons are textbooks, which you can find in the library.</p>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false" class="mb-3">
        <mat-expansion-panel-header>
          <mat-panel-title>
            How do I earn house point?
          </mat-panel-title>
          <!-- <mat-panel-description>
            Currently I am {{panelOpenState ? 'open' : 'closed'}}
          </mat-panel-description> -->
        </mat-expansion-panel-header>
        <p>House points are earned through completing homework assignments. You will receive 1 house point for every 10% you complete in an assignment, but there are no partial points. For example, a 100% is 10 house points while a  79% is only 7 house points.</p>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false" class="mb-3">
        <mat-expansion-panel-header>
          <mat-panel-title>
            I have a learning disability or am a nan-native English speaker. Can I enroll?
          </mat-panel-title>
          <!-- <mat-panel-description>
            Currently I am {{panelOpenState ? 'open' : 'closed'}}
          </mat-panel-description> -->
        </mat-expansion-panel-header>
        <p>Of course, you are welcome here at Hogwarts! Each course handles these two situations a little differently, but in most classes you don't lose points for grammar or spelling, or similar things. Most professors request that you put the tags [LD] or [NES] at the top of your essay assignments, or in the "Additional Notes" section. In any case, the assignments are graded anonymously and privately. Please check the course to see what the professor's specific rules are; they are usually listed right in the first lesson. You can also owl them (see "How can I send and owl?") or their PAs with questions.</p>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true"
      (closed)="panelOpenState = false" class="mb-3">
<mat-expansion-panel-header>
<mat-panel-title>
How do I withdraw form course?
</mat-panel-title>
<!-- <mat-panel-description>
Currently I am {{panelOpenState ? 'open' : 'closed'}}
</mat-panel-description> -->
</mat-expansion-panel-header>
<p>You can withdraw from a course by using the ‘Withdraw from Course’ button that’s just below the assignments and lessons box on the right-hand side of the main course page. You can pick up where you left off in a course by re-enrolling in the course later.</p>
</mat-expansion-panel>
    </mat-accordion>
    
  </div>
</div>

<app-footer></app-footer>
