<div class="about">
  
    
    <div class="d-flex justify-content-center align-items-center flex-column text-white center1">
      <h1>HOUSES</h1>
      <p>Hogwarts School of Witchcraft and Wizardry, often shortened to Hogwarts, was a Scottish wizarding school located in the Scottish Highlands.</p>
    </div>
  </div>



<div class="logo">
<img src="assets/images/logo3.jpg" alt="">
<h1>LOGO of Hogwarts</h1>

</div>

<div class="types">
  <div class="container-fluid row">
    <div class="col-lg-3">
      <mat-card class="example-card">
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title>Gryffindor</mat-card-title>
          <mat-card-subtitle>Founder: Godric Gryffindor</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/gryffindor.jpeg" alt="Photo of a Shiba Inu" class="mt-3 mb-3">
        <mat-card-content>
          <p>
            The four Houses are called Gryffindor, Hufflepuff, Ravenclaw, and Slytherin. Each House has its own noble history and each has produced outstanding witches and wizards. While you are at Hogwarts, your triumphs will earn your House points, while any rule breaking will lose House points. At the end of the year, the House with the most points is awarded the House Cup, a great honour. I hope each of you will be a credit to whichever House becomes yours."
          </p>
        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
      </mat-card>
    </div>
    <div class="col-lg-3">
      <mat-card class="example-card">
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title>Hufflepuf</mat-card-title>
          <mat-card-subtitle> Founder: Helga Hufflepuff</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/hufflepuf.jpeg" alt="Photo of a Shiba Inu" class="mt-3 mb-3">
        <mat-card-content>
          <p>
            The four Houses are called Gryffindor, Hufflepuff, Ravenclaw, and Slytherin. Each House has its own noble history and each has produced outstanding witches and wizards. While you are at Hogwarts, your triumphs will earn your House points, while any rule breaking will lose House points. At the end of the year, the House with the most points is awarded the House Cup, a great honour. I hope each of you will be a credit to whichever House becomes yours."
          </p>
        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
      </mat-card>
    </div>
    <div class="col-lg-3">
      <mat-card class="example-card">
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title>Rawenclaw</mat-card-title>
          <mat-card-subtitle>Founder:Rowena Ravenclaw</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/rawenclaw.jpeg" alt="Photo of a Shiba Inu" class="mt-3 mb-3">
        <mat-card-content>
          <p>
            The four Houses are called Gryffindor, Hufflepuff, Ravenclaw, and Slytherin. Each House has its own noble history and each has produced outstanding witches and wizards. While you are at Hogwarts, your triumphs will earn your House points, while any rule breaking will lose House points. At the end of the year, the House with the most points is awarded the House Cup, a great honour. I hope each of you will be a credit to whichever House becomes yours."
          </p>
        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
      </mat-card>
    </div>
    <div class="col-lg-3">
      <mat-card class="example-card">
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title>Slytherin</mat-card-title>
          <mat-card-subtitle >Founder: Salazar Slytherin</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/sytherin.jpeg" alt="Photo of a Shiba Inu" class="mt-3 mb-3" style="height: 446px;">
        <mat-card-content>
          <p>
            The four Houses are called Gryffindor, Hufflepuff, Ravenclaw, and Slytherin. Each House has its own noble history and each has produced outstanding witches and wizards. While you are at Hogwarts, your triumphs will earn your House points, while any rule breaking will lose House points. At the end of the year, the House with the most points is awarded the House Cup, a great honour. I hope each of you will be a credit to whichever House becomes yours."
          </p>
        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
      </mat-card>
    </div>
  </div>
</div>


<div class="hat ">
  <div class="row container-fluid">
    <div class="col-lg-6 center2">
      <div>
        <img src="assets/images/hat-removebg-preview.png" alt="">
      </div>
    </div>
    <div class="col-lg-6 center2">
      <div>
        <h1>Sorting Hat</h1>
      <p>The Sorting Hat was a sentient magical hat at Hogwarts that determined which of the four school Houses each new student belonged most to.</p>
      <p>
        Click and see  what sorting hat sing during sorting students.
       
      </p>
      <button mat-raised-button (click)="openBottomSheet()" color="warn">Show</button> 
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>