<h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content class="mat-typography">
    <video  controls>
        <source src="../../assets/videos/Harry Potter Hogwarts Castle Lights Up for Christmas at Universal Studios Hollywood #Shorts.webm" type="video/mp4">
        <source src="../../assets/videos/Harry Potter Hogwarts Castle Lights Up for Christmas at Universal Studios Hollywood #Shorts.webm" type="video/ogg">
      </video>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>
