<!-- <h2 mat-dialog-title>Hogwarts</h2> -->
<div class="fullscreen-dialog">
  <mat-dialog-content class="mat-typography">
    <video  controls>
        <source src="assets/videos/videoplayback.mp4" type="video/mp4">
        <source src="assets/videos/videoplayback.mp4" type="video/ogg">
      </video>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Go Back</button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>
</div>
